<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
<div class="container">
  <div class="col">
    <%= link_to "Add a new restaurant", new_restaurant_path %>
    <br>
    <% @restaurants.each_with_index do |restaurant, index| %>
      <%= link_to restaurant_path(restaurant.id) do  %>
        <ul>
          <div class="card-product">
            <div class="card-product-infos">
              <i class="fa fa-square-o" aria-hidden="true"></i>
              <%= index +1 %>-<h3><strong><%= restaurant.name %></strong></h2>
              <% end %>
              <p><%= restaurant.address %>, <%= restaurant.category %> restaurant
              <strong><%= restaurant.reviews.count %> Reviews</strong></p>
            </div>
          </div>
        </ul>
    <% end %>
  </div>
</div>







